.box {
    margin: 20px 0;
    min-height: 440px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
    transition: 0.3s;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box img {
    width: 100%;
}

.box p {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FF8500;
    font-size: 14px;
    font-weight: bold;
}

.box .text-area span {
    font-size: 14px;
    font-weight: bold;
    color: #19A526;
}

.box .text-area small {
    font-size: 12px;
    font-weight: bold;
    color: #909090;

}

.box .text-area .img img {
    width: 90%;
    color: #19A526;
}

@media screen and (min-width: 576px) {
    .featureCard {
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 786px) {
    .featureCard {
        width: 60%;
        margin: 0 auto;
    }
}