.deal-box{
    margin: 20px 0;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
    transition: 0.3s;
}
.deal-box:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.deal-box table{
    font-weight: bold;
    font-size: 14px;
}
.deal-box table span{
    color: #909090;
}
@media screen and (min-width: 576px) {
    .savingsCard {
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 786px) {
    .savingsCard {
        width: 60%;
        margin: 0 auto;
    }
}