.deal-box{
    margin: 20px 0;
    min-height: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
    transition: 0.3s;
}
.deal-box:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.deal-box table{
    font-weight: bold;
    font-size: 14px;
}
.deal-box table span{
    color: #909090;
    

}